@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=IBM+Plex+Serif:wght@400;700&display=swap');

@layer base{
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

}
@layer components {
    .gradient {
        background: #3c6e71;
        background: linear-gradient(-90deg, #3c6e71 0%, rgba(60, 51, 80, 0) 100%);
        background: -webkit-linear-gradient(
          -90deg,
          #3c6e71 0%,
          rgba(60, 51, 80, 0) 100%
        );
      }
}
@font-face {
    font-family: "light";
    src: url("../fonts/muli.light.ttf");
}
@font-face {
    font-family: "text";
    src: url("../fonts/muli.regular.ttf");
}


