@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=IBM+Plex+Serif:wght@400;700&display=swap');

@layer base{
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


}
@layer components {
    .gradient {
        background: #3c6e71;
        background: linear-gradient(-90deg, #3c6e71 0%, rgba(60, 51, 80, 0) 100%);
        background: -webkit-linear-gradient(
          -90deg,
          #3c6e71 0%,
          rgba(60, 51, 80, 0) 100%
        );
      }
      .gradient-overlay-image {
    background: 
        linear-gradient(to bottom, #030303, #030303, #3c6e71),
        url('/public/bg.png') no-repeat center center / cover;
        }
    .before-element {
        position: relative;
        display: inline-block;
    }

    .before-element::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background: #fff;
      transition: width 0.3s;
    }

    .before-element:hover::before {
      width: 100%;
      background: #fff;
    }
    .after-element {
    position: relative;
    display: inline-block;
}


.after-element::after {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 1rem; 
  transform: translateY(-50%);
  background: #fff;
}
}
@font-face {
    font-family: "light";
    src: url("../fonts/muli.light.ttf");
}
@font-face {
    font-family: "text";
    src: url("../fonts/muli.regular.ttf");
}


@layer components{
    .float-animation {
    animation: float 1s infinite ease-in-out alternate;
  }

  .delay-200 {
    animation-delay: .2s;
  }

  .delay-400 {
    animation-delay: .4s;
  }

  .delay-600 {
    animation-delay: .6s;
  }

  .delay-800 {
    animation-delay: .8s;
  }
  
  @keyframes float {
    100% {
      transform: translateY(20px);
    }
  }
  @keyframes stroke-up {
    from {
        stroke-dashoffset: 301.59;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-stroke-up {
    animation: stroke-up 3s ease-in-out forwards;
}

.animate-fadeUp {
    animation: fadeUp 1s forwards;
}
}